.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#note{
  width: 22rem;
  height: 15em;
  overflow-y:hidden;
  white-space: pre-wrap;
  /* background-color: rgb(255, 169, 255); */
  /* background-color: rgb(255, 221, 146);
  background-color: rgb(137, 252, 214);
   background-color: rgb(141, 228, 231);
  background-color: rgb(255, 237, 197);
  background-color: rgb(197, 243, 255);
  background-color: rgb(219, 187, 98); */
} 
#textPara{
  height: 8rem;
  overflow-y: auto;
}
#textArea:focus{
  outline: none;
  /* border: none; */
  box-shadow: none;
}
#remaining{
  /* margin-right:6em; */
  font-weight: 600;
  width: 8rem;

}